{
  "culturepub" : {
    "min_score": 4
  },
  "publisher": {
    "slack": {
      "team_token": "T00000000",
      "service_token": "B00000000",
      "auth_token": "xxxxxxxxxxxxxxxxxxxxxxxx",
      "channel": "#general"
    }
  },
  "app": {
    "publish_on": "weekdays",
    "publish_at": "09:30",
    "time_zone": "America/Toronto"
  }
}
